h1, h2, h3, h4, h5, h6 {
	font-family: arial; }

p {
	font-family: sans-serif, arial; }

.navbar-light .navbar-nav .nav-link:hover {
	color: #444; }

.hcenter {
	float: none;
	width: 100%;
	text-align: center;  }  
 
.vcenter {
	display: flex;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
    float: none; }

#insights { 
	padding: 75px;
	text-align: center; }

#insights p {
	margin: 25px 0; }

#cuteButtons .btn {
	margin: 10px;
	border-radius: 5px;
	cursor: pointer; }

#mainJumbotron .jumbotron { 
	background: #ecb939;
	margin: 0;
	background-image: url("../images/lighthouse.png");
	background-position: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	padding: 100px 0; }

#mainJumbotron .jumbotron p {
	color: #fff;  }

.btn {
	display: inline-block;
	text-align: center;
	vertical-align: middle; }

.box {
	border: 5px solid #fff;
	padding: 25px 15px;  }
.col-4 img, .col-12 img {
 	margin: 25px 0;
	max-height: 100px; }
.col-8 img, .col-12 img { 
 	margin: 25px 0;
	max-height: 150px; }
.box h4 {
	color: #fff;
	text-align: left; 
	line-height: 1.4em;
	width: 70%;
	margin: 5% 15%;  }

.box1 {
	background-color: #00DAB9; }
.box2 {
	background-color: #CBAC8B; }
.box3 {
	background-color: #46B7E7; }
.box4 {
	background-color: #EA9225; }
.box5 {
	background-color: #E35218; }
.box6 {
	background-color: #99C69B; }
.box7 {
	background-color: #79928F; }


#more button  {
	text-transform: uppercase;
	padding: 15px 80px;
	border-radius: 40px; }
	
#jumbotronTrad button {
	text-transform: uppercase;
	padding: 15px 80px;
	border-radius: 40px;
	background: #1C4763; }
#jumbotronTrad h1 {
	color: #1C4763; }

#jumbotronTrad .jumbotron {  
	background-image: url("../images/handcell.png");
	background-position: 0 100%;
	background-repeat: no-repeat;
	background-size: contain;
	 }

#reachOut {
	padding: 100px 0; }
#reachOut p {
	margin: 10px 0 0px; }
#reachOut .cta {
	text-transform: uppercase;
	margin: 20px 0; }
#reachOut img { 
	max-width: 150%; } 
#reachOut .col-lg-5 {
	text-align: center; }

.footer {
	border: 3px solid transparent; }
.footer ul {
	list-style: none;
	padding-left: 0; }
.footer .row {
	text-align: left; }
.footer a, .footer .aboutUs, .footer .contact {
	text-decoration: none;
	background:;
	color: #bbb; }

.footer .fa-stack:hover, .footer li a:hover  {
	color: #fff; }

